.filter-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;

  .link {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;

    background-color: #f5f4fa;
    color: $secondaryColor;
    border-color: transparent;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accentColor;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
      color: $whiteColor;
    }
  }
  .item {
    align-items: center;
    margin-right: 8px;
  }
}
