html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $whiteColor;
  color: $primaryColor;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 768px;
  }

  @include phone {
    width: 480px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include phone {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $secondaryColor;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;

//   &.border {
//     border-top: 1px solid #ececec;
//   }
//   &.team {
//     background-color: #f5f4fa;
//   }
// }
// .section-title {
//   margin-top: 0;
//   margin-bottom: 50px;
//   color: $secondaryColor;

//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
// }
