.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  .link {
    text-decoration: none;
  }
}

.fon {
  position: relative;
  overflow: hidden;

  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    transform: translateY(100%);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.item:hover .fon::before {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list .text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  color: $whiteColor;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-list .content {
  margin: 0;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  background: #ffffff;

  border: 1px solid #eeeeee;
  border-top-width: 0;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.portfolio-list .title {
  color: $secondaryColor;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
  margin-bottom: 4px;
}

.portfolio-list .subtitle {
  margin: 0;

  color: $primaryColor;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-list li:hover,
.portfolio-list li:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
