.section.border {
  border-top: 1px solid #ececec;

  @include tablet {
    display: none;
  }
}
.specialization-list {
  display: flex;
  flex-wrap: nowrap;

  .link {
    color: $whiteColor;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
  .title {
    position: absolute;
    bottom: 0;
    min-width: 370px;
    height: 70px;

    margin: 0;
    padding: 27px;
    text-align: center;

    color: $secondaryColor;

    background: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
  }
  .item {
    position: relative;

    width: 370px;
    margin-right: 30px;
    margin-bottom: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
