.section.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  @include tablet {
    justify-content: center;
  }

  @include phone {
    justify-content: center;
  }

  .photo {
    margin-bottom: 30px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $secondaryColor;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  .text {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  .item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;

    background: $whiteColor;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    //Pseudo Elements
    position: relative;

    &:before {
      content: "+";
      position: absolute;
      left: 0;
      top: -30px;
      border-top: 3px dashed red;
      font-size: 26px;
      color: red;
      width: 100%;
      text-align: left;
      padding-left: 40px;
    }
    &:after {
      content: "++++";
      position: absolute;
      left: 0;
      bottom: 60px;
      border-top: 3px dashed red;
      font-size: 26px;
      color: red;
      width: 100%;
      text-align: right;
      padding-left: 40px;
    }
    &:hover {
      &:before {
        display: none;
      }
    }
    //Pseudo Elements END

    @include tablet {
      width: 354px;
      margin-bottom: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n),
      &:nth-child(4n) {
        margin-bottom: 0;
      }
    }

    @include phone {
      width: 450px;
      margin-right: 0;
      margin-bottom: 30px !important;

      &:nth-child(4) {
        margin-bottom: 0;
      }
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
.team-icon li {
  display: inline-block;
}
.icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  margin-right: 10px;
  margin-bottom: 24px;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accentColor;
    fill: $whiteColor;
  }
}
