/* Цвет основного текста #757575 */
/* Вторичный цвет #212121 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */

/* Цвет футер rgba(255, 255, 255, 0.6) */
/* Цвет футер 2020 rgba(255, 255, 255, 0.4) */
/* Вторичный цвет фона #F5F4FA */

// переменные &
// Color
$primaryColor: #757575;
$secondaryColor: #212121;
$accentColor: #2196f3;
$whiteColor: #ffffff;
// font
